/* Webfont: Requila */@font-face {
    font-family: 'Requila';
    src: url('Requila.eot'); /* IE9 Compat Modes */
    src: url('Requila.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Requila.woff') format('woff'), /* Modern Browsers */
         url('Requila.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

