.contact{
    position: relative;
    height: 100vh;
    /*background: #fd8f46;*/
    background: pink;
    text-shadow: 5px 10px 2px rgba(124, 203, 124,0.8);
}
.bx{
    position: relative;
    width: 1000px;
    margin: 0 auto;
    height: 100%;
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;*/
    padding: 20px;
}
.bx h1{
    position: relative;
    font-size: 100px;

    color: rgb(249, 248, 236);
    
}