.imageCont{
    position: relative;
    background: rgb(249, 248, 236);
    padding: 15px;
    height: 250px;
    width: 200px;
    transform: rotate(-20deg);
    box-shadow:  3px 3px 6px rgb(25, 71, 24);
    left: 50px;
}

.imageBx{
    position: relative;
    height: 150px;
    width: 100%;
    overflow: hidden; 

   
}

.iconBx{
    position: relative;
    color: rgb(249, 248, 236);
    font-size: 2em;
    width: 50px;
    height: 50px;
    background: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    border: 3px solid rgb(249, 248, 236);
    background: pink;
    margin: 0 auto;
}

.imageText{
    position: relative;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: var(--green) ;
}

.cardBx{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 400px;
}
.info{
    position: relative;
    width: 55%;
    height: 100%;
    padding-top: 30px;
}
.info h2{
    font-size: 30px;
    margin-right:20px ;
    letter-spacing: 1px; 
    color: var(--green);
    margin-bottom: 10px;
}
.info p{
    position: relative;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    color: var(--green);
}
.skills{
    position: relative;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.image{
    filter: grayscale(1);
    border: 1px solid rgba(176, 175, 175,0.3) ;
    transition: 0.3s;
    background: whitesmoke;
}
.image:hover{
    filter: grayscale(0);

    transition: 0.3s;
}