.experience{
    position: relative;
    width: 100%;
    min-height: 100vh ;
    background: rgba(255, 192, 203,0.8);
    background:  var(--background);

    /*box-shadow:  3px 3px 6px rgb(179, 156, 111);*/
    display: flex;
    flex-direction: column;
    
}
.experience h1{
    position: relative;
    font-size: var(--font-size-full);
    color: #fd8f46;
    color: var(--green); 
    /*color: rgb(249, 248, 236);  */
    letter-spacing: 2px; 
}
.bx{
    position: relative;
    width: 1000px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    
}
.headerAbout{
    position: relative;
    width: 100%;
    height: 10vh;
    
}
.text{
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    color: var(--green) ;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;

}
.text h2{
    font-size: 50px;
}


/*.imageCont{
    position: relative;
    background: rgb(249, 248, 236);
    padding: 15px;
    height: 500px;
    box-shadow:  3px 3px 6px var(--green);
    cursor: pointer;   
}

.imageBx{
    position: relative;
    height: 90%;
    width: 100%;
    overflow: hidden;  

}

.iconBx{
    position: relative;
    color: rgb(249, 248, 236);
    font-size: 2em;
    width: 50px;
    height: 50px;
    background: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    border: 3px solid rgb(249, 248, 236);
    background: pink;
    margin: 0 auto;
}

.imageText{
    position: relative;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: var(--green) ;
}*/
.projects{
    position: relative;
    width: 100%;
    padding-top: 30px;
   /* display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));*/

}
.labelBx{
    position: relative;
    width: 100%;
    padding-left: 20px;
    /*display: flex;*/
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
}
.label {
    position: relative;
    width: 150px !important;
    background: rgb(249, 248, 236);
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    /*border: 3px solid var(--green);*/
    box-shadow:  3px 3px 0px pink;
    margin-left: 10px;
}
/*.image{
    filter: grayscale(1);
    border: 1px solid rgba(176, 175, 175,0.3) ;
    transition: 0.3s;
}
.image:hover{
    filter: grayscale(0);

    transition: 0.3s;
}*/

.cardBx{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center ;
    justify-content: center;
    background: red;
}


@media(max-width: 1000px ){
    .bx{
        width: 100%;
    }
    .headerAbout{
        width: 100%;
    }

}
@media(max-width:684px){

    .headerAbout h1{
     font-size: var(--font-size-middle);
    }

}
@media(max-width:460px){
    .headerAbout h1{
        font-size: var(--font-size-short);
       }

}
@media(max-width:442px){
    .projects{
        grid-gap: 16px;
        grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    }

    .imageCont{
        padding: 15px;
        padding-bottom: 30px;
        height: 350px;  
    }
}
